#main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.window-title{
    width: 100%;
    height: 6%;
    font-size: 1.5em;
    line-height: 50px;
    text-align: center;
}

#side-bar{
    width:25%;
    height: 100%;
    border-right: 1px solid lightgrey;  

    form{
        width: 100%;
        height: 30px;
        margin-top: 20px; 
        display: flex;
        justify-content: center;
        input[type=text]{
            width: 90%;
            height: 100%;
            outline: none; 
            border: none;
            background-color: rgb(226, 226, 226);
            border-radius: 5px;
            padding-left: 15px;
        }
    }
    #note-preview-container{
        width: 100%;
        height: 90%;
        overflow: auto;
        .note-preview{
            width: 100%;
            height: 100px; 
            border-bottom: 1px solid lightblue;
            margin-top: 5px;
            padding: 20px;
            span{
                display: flex;
            }
            .time{
                margin-right: 10px;
            }
        }
    }
}

#notes-window{
    height: 100%;
    width: 100%;
    section{
        width: 100%;
        height: 94%;
        #note-title{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            input[type=text]{
                width: 95%;
                height: 100%;
                border: none; 
                outline: none; 
                border-bottom: 1px solid lightgray;
            }
        }
        #editor{
            margin: 0 auto;
            margin-top: 5px; 
            height: 85%;
            width: 95%;
        }
    }
}





